@media screen and (max-width: 767px)
{.content-width {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}
}
@media screen and (max-width: 1080px)
{.site-header {
    position: fixed;
    background-color: #fff;
    z-index: 10;
    width: 100%;
}
}
@media screen and (max-width: 767px)
{.site-header {
    padding-top: 15px;
    padding-bottom: 15px;
}}

@media screen and (max-width: 1080px)
{
.header-nav .header-nav-hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
}
}

@media screen and (max-width: 1080px){
.header-nav .header-nav-hamburger-line:first-child {
    top: 0;
}}
@media screen and (max-width: 1080px){
.header-nav .header-nav-hamburger-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
}}
@media screen and (max-width: 1080px){
.header-nav .header-nav-hamburger-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
}}
@media screen and (max-width: 1080px){
.header-nav .header-nav-hamburger-line:last-child {
    top: 100%;
}}
@media screen and (max-width: 1080px){
.header-nav .header-nav-hamburger-line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #222;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s;
}}
@media screen and (max-width: 1080px){
.header-nav .header-nav-hamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
}}
@media screen and (max-width: 1080px)
{
.header-nav .header-nav-list {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform 0.5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-overflow-scrolling: touch;
}}
